# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3
*.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
